@use "../common/mixin" as *;
@use "../common/variable" as *;

.header {
  @include flex;
  @include flexAlignCenter;
  @include flexSpaceBetween;
  height: 90px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.051);
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: 111;

  &__container {
    @include flex;
    @include flexSpaceBetween;
    align-items: center;
    width: 100%;
    position: relative;
  }

  &--logo {
    height: 32px;
    width: 144px;
    object-fit: cover;
  }

  &__main-menu {
    &__mobile {
      .header__main-menu__list {
        left: 0;
        transition: 0.3s all ease-in-out;
      }
    }

    &__list {
      top: 90px;
      position: fixed;
      padding: 0 20px;
      background-color: $white;
      border: 1px solid $mobile-menu-border;
      width: 100%;
      align-items: flex-start;
      z-index: 2;
      height: 1012px;
      left: 100%;
      transition: 0.3s all ease-in-out;

      @include mediaQuery($device-lg) {
        @include flex;
        @include flexAlignCenter;
        gap: 25px;
        visibility: visible;
        position: initial;
        height: auto;
        background-color: transparent;
        border: none;
        flex-direction: row;
      }

      &__sub-menu {
        visibility: hidden;
        display: none;
        opacity: 0;

        @include mediaQuery($device-lg) {
          visibility: hidden;
          transform: translateY(-20px);
          transition-duration: 0.3s;
          @include flex;
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.051);
          position: absolute;
          top: 68px;
          z-index: 2;
          background-color: $white;
          width: 100%;
          justify-content: flex-start;
          padding: 56px 54px;
          left: 20;
          border: 1px solid $light-gray;
          border-top: 0;
          border-bottom-left-radius: 18px;
          border-bottom-right-radius: 18px;
          max-width: 1146px;
        }

        &__list {
          @include mediaQuery($device-lg) {
            @include flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 15px;
            border-right: 1px solid $border-gray;
            padding-right: 45px;
          }

          &__item {
            @include mediaQuery($device-lg) {
              @include flex;
              justify-content: flex-start;
              @include flexAlignCenter;
              @include fontSize(14px, 25px);
              font-weight: 400;
              color: $black;
              padding: 0px 16px;
              opacity: 0.5;
              cursor: pointer;

              &--active {
                width: 100%;
                background-color: $primary-color;
                border-radius: 5px;
                height: 38px;
                font-weight: 500;
                color: $white;
                opacity: 1;
              }
            }
          }
        }

        &__right {
          @include mediaQuery($device-lg) {
            padding-left: 45px;
            @include flex;
            justify-content: space-between;
            flex-direction: column;
          }

          &--heading {
            @include mediaQuery($device-lg) {
              @include fontSize(14px, 25px);
              font-weight: 600;
              color: $primary-color;
              @include flex;
              @include flexAlignCenter;
              gap: 10px;
              padding-bottom: 36px;
              margin: 0;

              &::after {
                content: "";
                background: $primary-color;
                opacity: 0.3;
                height: 1px;
                width: 100%;
              }
            }
          }

          &__item {
            @include mediaQuery($device-lg) {
              @include flex;
              justify-content: flex-start;
              align-items: center;
              gap: 30px;
              flex-wrap: wrap;
              width: 100%;
            }

            &--link {
              flex: 1 1 30%;
              max-width: 30%;
              @include mediaQuery($device-lg) {
                a {
                  text-decoration: none;
                  cursor: pointer;
                  @include fontSize(14px, 25px);
                  font-weight: 400;
                }
              }
            }
          }

          &--search {
            @include flex;
            @include flexJustifyContentCenter;
            @include flexAlignCenter;
            position: relative;

            .form-control__input {
              border-radius: 28px;
            }

            .icon-search {
              position: absolute;
              right: 20px;
            }
          }
        }
      }

      &--item {
        border-bottom: 1px solid $mobile-menu-border;
        width: 100%;
        height: 55px;
        @include flexSpaceBetween;
        padding: 0 16px;
        @include flex;
        @include flexAlignCenter;

        @include mediaQuery($device-lg) {
          border: none;
          width: auto;
          height: 0;
          padding: 0;
        }

        &:hover {
          .header__main-menu__list__sub-menu {
            visibility: visible;
            transform: translateY(0px);
            transition-duration: 0.3s;
            opacity: 1;
          }
        }

        &.icon-drp {
          font-size: 8px;
          justify-content: flex-end;

          @include mediaQuery($device-lg) {
            display: none;
          }
        }
      }

      &--link {
        text-decoration: none;
        @include fontSize(16px, 25px);
        font-weight: 600;

        @include mediaQuery($device-lg) {
          @include fontSize(13px, 52px);
          font-weight: 500;
        }

        &:hover {
          cursor: pointer;
          color: $primary-color;
        }
        .icon-drp {
          display: none;

          @include mediaQuery($device-lg) {
            display: inline-block;
            padding-left: 7px;
            @include fontSize(4px, 52px);
          }
        }
      }
    }
  }

  &__search {
    @include flex;
    @include flexAlignCenter;
    gap: 5px;

    @include mediaQuery($device-lg) {
      gap: 20px;
    }

    &--btn-lets-talk {
      width: 128px;
      height: 46px;
      background-color: $primary-color;
      color: $white;
      border: 2px solid $primary-color;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.1);
      @include fontSize(15px, 20px);
      font-weight: 600;
      &:hover {
        background-color: $white;
        color: $primary-color;
      }
    }

    &__btn {
      position: relative;
      &::after {
        display: none;
        color: $light-gray;
        @include mediaQuery($device-lg) {
          content: "";
          position: absolute;
          background: $light-gray;
          display: inline-block;
          width: 1px;
          height: 25px;
          margin-left: 10px;
          top: 10;
        }
      }
    }

    &--icon {
      @include flex;
      @include flexJustifyContentCenter;
      @include flexAlignCenter;
      height: 30px;
      width: 30px;
      border-radius: 3px;
      background: $white;
      box-shadow: 0 4px 33px rgba(0, 0, 0, 0.09);
      cursor: pointer;

      @include mediaQuery($device-lg) {
        background: $light-gray;
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }

      .icon-search:before {
        font-size: 17px;
        font-weight: normal;
        display: none;
        @include mediaQuery($device-lg) {
          display: block;
        }
      }

      .icon-hamburger {
        display: block;
        font-size: 17px;

        @include mediaQuery($device-lg) {
          display: none;
        }
      }
    }
  }
}
