@use "../common/mixin" as *;
@use "../common/variable" as *;

.service-section {
  margin-bottom: 50px;

  @include mediaQuery($device-md) {
    padding: 0 50px;
  }

  @include mediaQuery($device-lg) {
    max-width: none;
    padding: 0 120px;
  }

  &__list {
    margin: 0;
    padding: 0;
    @include flex;
    @include flexAlignCenter;
    @include flexJustifyContentCenter;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    @include flex;
    @include flexJustifyContentCenter;
    @include flexAlignCenter;
    position: relative;
    width: 100%;
    background-color: $black;
    cursor: pointer;
    z-index: 1;
    border-radius: 20px;
    flex: none;

    @include mediaQuery($device-md) {
      height: 280px;
      background-color: $black;
      flex: 1 1 33.33%;
    }

    &:hover {
      .service-section__sub-item {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
        transition-duration: 0.3s;
      }
      .service-section__heading-txt {
        visibility: hidden;
        opacity: 0;
        transform: translateY(0px);
        transition: 0.3s;
      }
    }
  }

  &__bg-img {
    opacity: 0.4;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }

  &__heading-txt {
    position: absolute;
    @include flex;
    @include flexJustifyContentCenter;
    @include fontSize(32px, 38px);
    font-weight: 600;
    color: $white;
    opacity: 1;
    padding: 20px;
    text-align: center;

    @include mediaQuery($device-lg) {
      @include fontSize(52px, 70px);
      opacity: 1;
    }
  }

  &__sub-item {
    @include flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition-duration: 0.3s;
    padding: 16px;
    gap: 20px;

    &--sub-heading-txt {
      color: $white;
      @include fontSize(26px, 36px);
      font-weight: 600;
      justify-content: flex-start;
      margin-bottom: 0;
    }

    &--description {
      color: $white;
    }
  }
}
