@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icon/icomoon.eot?jjr475");
  src: url("../fonts/icon/icomoon.eot?jjr475#iefix")
      format("embedded-opentype"),
    url("../fonts/icon/icomoon.ttf?jjr475") format("truetype"),
    url("../fonts/icon/icomoon.woff?jjr475") format("woff"),
    url("../fonts/icon/icomoon.svg?jjr475#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drp::before {
    content: "\e900";
}

.icon-search:before {
    content: "\e901";
}

.icon-telphone:before {
  content: '\e905';
}

.icon-select-drp:before {
  content: '\e904';
} 

.icon-facebook:before {
  content: '\e902';
}

.icon-linkedin:before {
  content: '\e906';
}

.icon-youtube:before {
  content: '\e903';
}

.icon-twitter:before {
  content: '\e907';
}