.form-control ::-moz-placeholder {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #4E5158;
}
.form-control ::placeholder {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #4E5158;
}
.form-control :focus {
  outline: none;
}
.form-control__label {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}
.form-control__input {
  height: 46px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 12px 0 12px 15px;
}
.form-control__text-area {
  height: 100%;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 12px 0 12px 15px;
}
.form-control__input-select {
  display: flex;
}
.form-control__input-select__list {
  width: 72px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  padding: 14px 15px;
  gap: 9px;
}
.form-control__input-select__list--icon {
  font-size: 6px;
}
.form-control__input-select--phone-no {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-control--astrict {
  color: #FF0000;
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

main {
  padding-top: 90px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, section, p {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icon/icomoon.eot?jjr475");
  src: url("../fonts/icon/icomoon.eot?jjr475#iefix") format("embedded-opentype"), url("../fonts/icon/icomoon.ttf?jjr475") format("truetype"), url("../fonts/icon/icomoon.woff?jjr475") format("woff"), url("../fonts/icon/icomoon.svg?jjr475#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class^=icon-],
[class*=" icon-"] {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drp::before {
  content: "\e900";
}

.icon-search:before {
  content: "\e901";
}

.icon-telphone:before {
  content: "\e905";
}

.icon-select-drp:before {
  content: "\e904";
}

.icon-facebook:before {
  content: "\e902";
}

.icon-linkedin:before {
  content: "\e906";
}

.icon-youtube:before {
  content: "\e903";
}

.icon-twitter:before {
  content: "\e907";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-hamburger:before {
  content: "\e908";
}

.btn {
  width: 100%;
}
.btn--primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 180px;
  background-color: #1B76FE;
  color: #ffffff;
  border: 1px solid #1B76FE;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
}
.btn--primary:hover {
  background-color: #ffffff;
  color: #1B76FE;
}
.btn--full-width {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.051);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 111;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.header--logo {
  height: 32px;
  width: 144px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__main-menu__mobile .header__main-menu__list {
  left: 0;
  transition: 0.3s all ease-in-out;
}
.header__main-menu__list {
  top: 90px;
  position: fixed;
  padding: 0 20px;
  background-color: #ffffff;
  border: 1px solid #F0F0F0;
  width: 100%;
  align-items: flex-start;
  z-index: 2;
  height: 1012px;
  left: 100%;
  transition: 0.3s all ease-in-out;
}
@media (min-width: 1200px) {
  .header__main-menu__list {
    display: flex;
    align-items: center;
    gap: 25px;
    visibility: visible;
    position: initial;
    height: auto;
    background-color: transparent;
    border: none;
    flex-direction: row;
  }
}
.header__main-menu__list__sub-menu {
  visibility: hidden;
  display: none;
  opacity: 0;
}
@media (min-width: 1200px) {
  .header__main-menu__list__sub-menu {
    visibility: hidden;
    transform: translateY(-20px);
    transition-duration: 0.3s;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.051);
    position: absolute;
    top: 68px;
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
    justify-content: flex-start;
    padding: 56px 54px;
    left: 20;
    border: 1px solid #d9d9d9;
    border-top: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    max-width: 1146px;
  }
}
@media (min-width: 1200px) {
  .header__main-menu__list__sub-menu__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    border-right: 1px solid #D9D9D9;
    padding-right: 45px;
  }
}
@media (min-width: 1200px) {
  .header__main-menu__list__sub-menu__list__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #000000;
    padding: 0px 16px;
    opacity: 0.5;
    cursor: pointer;
  }
  .header__main-menu__list__sub-menu__list__item--active {
    width: 100%;
    background-color: #1B76FE;
    border-radius: 5px;
    height: 38px;
    font-weight: 500;
    color: #ffffff;
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  .header__main-menu__list__sub-menu__right {
    padding-left: 45px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .header__main-menu__list__sub-menu__right--heading {
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
    color: #1B76FE;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 36px;
    margin: 0;
  }
  .header__main-menu__list__sub-menu__right--heading::after {
    content: "";
    background: #1B76FE;
    opacity: 0.3;
    height: 1px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .header__main-menu__list__sub-menu__right__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
  }
}
@media (min-width: 1200px) {
  .header__main-menu__list__sub-menu__right__item--link a {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
  }
}
.header__main-menu__list__sub-menu__right--search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__main-menu__list__sub-menu__right--search .form-control__input {
  border-radius: 28px;
}
.header__main-menu__list__sub-menu__right--search .icon-search {
  position: absolute;
  right: 20px;
}
.header__main-menu__list--item {
  border-bottom: 1px solid #F0F0F0;
  width: 100%;
  height: 55px;
  justify-content: space-between;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
  .header__main-menu__list--item {
    border: none;
    width: auto;
    height: 0;
    padding: 0;
  }
}
.header__main-menu__list--item:hover .header__main-menu__list__sub-menu {
  visibility: visible;
  transform: translateY(0px);
  transition-duration: 0.3s;
  opacity: 1;
}
.header__main-menu__list--item.icon-drp {
  font-size: 8px;
  justify-content: flex-end;
}
@media (min-width: 1200px) {
  .header__main-menu__list--item.icon-drp {
    display: none;
  }
}
.header__main-menu__list--link {
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .header__main-menu__list--link {
    font-size: 13px;
    line-height: 52px;
    font-weight: 500;
  }
}
.header__main-menu__list--link:hover {
  cursor: pointer;
  color: #1B76FE;
}
.header__main-menu__list--link .icon-drp {
  display: none;
}
@media (min-width: 1200px) {
  .header__main-menu__list--link .icon-drp {
    display: inline-block;
    padding-left: 7px;
    font-size: 4px;
    line-height: 52px;
  }
}
.header__search {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (min-width: 1200px) {
  .header__search {
    gap: 20px;
  }
}
.header__search--btn-lets-talk {
  width: 128px;
  height: 46px;
  background-color: #1B76FE;
  color: #ffffff;
  border: 2px solid #1B76FE;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1);
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}
.header__search--btn-lets-talk:hover {
  background-color: #ffffff;
  color: #1B76FE;
}
.header__search__btn {
  position: relative;
}
.header__search__btn::after {
  display: none;
  color: #d9d9d9;
}
@media (min-width: 1200px) {
  .header__search__btn::after {
    content: "";
    position: absolute;
    background: #d9d9d9;
    display: inline-block;
    width: 1px;
    height: 25px;
    margin-left: 10px;
    top: 10;
  }
}
.header__search--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0 4px 33px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
@media (min-width: 1200px) {
  .header__search--icon {
    background: #d9d9d9;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}
.header__search--icon .icon-search:before {
  font-size: 17px;
  font-weight: normal;
  display: none;
}
@media (min-width: 1200px) {
  .header__search--icon .icon-search:before {
    display: block;
  }
}
.header__search--icon .icon-hamburger {
  display: block;
  font-size: 17px;
}
@media (min-width: 1200px) {
  .header__search--icon .icon-hamburger {
    display: none;
  }
}

.banner-section {
  max-width: none;
  margin-bottom: 100px;
  padding: 0;
}
.banner-section__inner {
  width: 100%;
  height: 185px;
  background: linear-gradient(102.22deg, #cfdbf7 -18.94%, #f7f9ff 49.1%, #ebdffa 107.77%);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner-section__inner--heading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .banner-section__inner {
    justify-content: center;
    border-radius: 60px;
    height: 350px;
    justify-items: flex-start;
  }
  .banner-section__inner--heading {
    font-size: 52px;
    line-height: 70px;
  }
}
@media (min-width: 1200px) {
  .banner-section {
    padding: 0 23px;
  }
}

.service-section {
  margin-bottom: 100px;
}
@media (min-width: 1200px) {
  .service-section {
    max-width: none;
    padding: 0 120px;
  }
}
.service-section__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1200px) {
  .service-section__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
.service-section__list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 280px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #000000;
  cursor: pointer;
  z-index: 1;
  border-radius: 20px;
}
@media (min-width: 1200px) {
  .service-section__list__item {
    height: 280px;
    background-color: #000000;
  }
}
.service-section__list__item--bg-img {
  opacity: 0.4;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 280px;
  width: 100%;
  border-radius: 20px;
}
.service-section__list__item--heading-txt {
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  color: #ffffff;
  opacity: 1;
  padding: 20px;
  text-align: center;
}
@media (min-width: 1200px) {
  .service-section__list__item--heading-txt {
    font-size: 52px;
    line-height: 70px;
    opacity: 1;
  }
}
.service-section__list__item__sub-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition-duration: 0.3s;
  padding: 16px;
  gap: 20px;
}
.service-section__list__item__sub-item--sub-heading-txt {
  color: #ffffff;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
  justify-content: flex-start;
  margin-bottom: 0;
}
.service-section__list__item__sub-item--description {
  color: #ffffff;
}
.service-section__list__item:hover .service-section__list__item__sub-item {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
.service-section__list__item:hover .service-section__list__item--heading-txt {
  visibility: hidden;
  opacity: 0;
  transform: translateY(0px);
  transition: 0.3s;
}

.our-client {
  flex-direction: column;
  align-items: center;
  gap: 70px;
  margin-bottom: 50px;
}
.our-client__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  max-width: 335px;
}
.our-client__item--heading-txt {
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}
.our-client__item--description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #4E5158;
}
.our-client__item:last-child {
  border-top: 2px solid #d9d9d9;
  padding-top: 70px;
}
@media (min-width: 1200px) {
  .our-client {
    flex-direction: row;
    width: 735px;
    height: 203px;
  }
  .our-client__item:last-child {
    border-left: 2px solid #EBEBEB;
    padding-left: 70px;
    border-top: none;
    padding-top: 0;
  }
}

.lets-talk {
  background: linear-gradient(280deg, #89c7fb, #c8d5f9 62.02%, #f9f9f4);
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .lets-talk {
    max-width: none;
    margin-bottom: 100px;
  }
}
.lets-talk__inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
@media (min-width: 1200px) {
  .lets-talk__inner {
    flex-direction: row;
    padding: 100px 0;
    gap: 107px;
    justify-content: center;
  }
}
.lets-talk__inner__left {
  padding-top: 60px;
  width: 100%;
}
@media (min-width: 1200px) {
  .lets-talk__inner__left {
    padding-top: 0;
    width: auto;
  }
}
.lets-talk__inner__left--heading {
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .lets-talk__inner__left--heading {
    font-size: 42px;
    line-height: 56px;
    padding-bottom: 50px;
    padding-top: 25px;
    width: 99%;
  }
}
.lets-talk__inner__left__contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.lets-talk__inner__left__contact-list__item {
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 15px 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
@media (min-width: 1200px) {
  .lets-talk__inner__left__contact-list__item {
    gap: 8px;
  }
}
.lets-talk__inner__left__contact-list__item--telphone {
  position: absolute;
  color: #1B76FE;
  right: 8px;
  top: 10px;
}
.lets-talk__inner__left__contact-list__item--heading {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #4E5158;
  margin-bottom: 0;
}
.lets-talk__inner__left__contact-list__item--mobile-no {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #1B76FE;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .lets-talk__inner__left__contact-list__item--mobile-no {
    font-size: 20px;
    line-height: 26px;
  }
}
.lets-talk__inner__left__contact-list__item--country {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .lets-talk__inner__left__contact-list__item--country {
    font-size: 16px;
    line-height: 24px;
  }
}
.lets-talk__inner__left__company {
  order: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
.lets-talk__inner__left__company li img {
  max-width: 100%;
}
@media (min-width: 1200px) {
  .lets-talk__inner__left__company {
    display: none;
  }
}
.lets-talk__inner__left__company--desktop {
  display: none;
}
@media (min-width: 1200px) {
  .lets-talk__inner__left__company--desktop {
    display: flex;
    gap: 20px;
    padding-top: 50px;
  }
}
.lets-talk__inner__left__company--heading {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 18px;
  white-space: nowrap;
}
.lets-talk__inner__left__company--heading::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100%;
  background: #8591aa;
}
.lets-talk__inner__left__company__list {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  width: 100%;
}
.lets-talk__inner__right {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}
@media (min-width: 1200px) {
  .lets-talk__inner__right {
    width: auto;
  }
}
.lets-talk__inner__right__card {
  width: 100%;
}
.lets-talk__inner__right__card__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8591aa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 54px;
  color: #ffffff;
}
.lets-talk__inner__right__card__heading--title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
}
@media (min-width: 1200px) {
  .lets-talk__inner__right__card__heading--title {
    font-size: 20px;
    line-height: 24px;
  }
}
.lets-talk__inner__right__card__body {
  padding: 20px;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 1200px) {
  .lets-talk__inner__right__card__body {
    padding: 30px;
  }
}
.lets-talk__inner__right__card__body__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .lets-talk__inner__right__card__body__row {
    flex-direction: row;
  }
}
.lets-talk__inner__right__card__body__row--item {
  width: 100%;
}
.lets-talk__inner__right__card__body__row--spacing {
  margin: 15px 0;
}

.footer__inner {
  display: block;
}
@media (min-width: 1200px) {
  .footer__inner {
    margin-bottom: 50px;
  }
}
.footer__inner__images {
  padding: 0 0 50px 0;
}
.footer__inner__images__links {
  display: none;
}
@media (min-width: 1200px) {
  .footer__inner__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
  }
  .footer__inner__images__links {
    display: block;
  }
  .footer__inner__images__links__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
  }
  .footer__inner__images__links__container--item::after {
    position: absolute;
    content: "";
    height: 17px;
    width: 1px;
    background: #191D26;
    margin: 0px 10px;
    top: 5px;
  }
  .footer__inner__images__links__container--item:last-child {
    border: none;
  }
  .footer__inner__images__links__container--item:last-child::after {
    width: 0;
  }
  .footer__inner__images__links__container--item a {
    text-decoration: none;
    color: #191D26;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}
.footer__inner__our-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (min-width: 1200px) {
  .footer__inner__our-services {
    padding-top: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer__inner__our-services__item {
  grid-column: span 2/span 2;
}
@media (min-width: 1200px) {
  .footer__inner__our-services__item {
    grid-column: auto;
  }
}
.footer__inner__our-services__item--heading {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  padding: 20px 0;
  margin: 0;
}
@media (min-width: 1200px) {
  .footer__inner__our-services__item--heading {
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 20px;
    margin: 0;
  }
}
.footer__inner__our-services__item--description {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #4E5158;
  padding: 20px 0;
  margin: 0;
}
.footer__inner__our-services__item__input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 53px;
  border-radius: 26px;
  background-color: #F6F9FF;
  position: relative;
  border: none;
  gap: 20px;
}
.footer__inner__our-services__item__input:focus {
  outline: none;
}
.footer__inner__our-services__item__input::-moz-placeholder {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #8591aa;
}
.footer__inner__our-services__item__input::placeholder {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #8591aa;
}
.footer__inner__our-services__item__input--sub-btn {
  position: absolute;
  height: 44px;
  width: 120px;
  border-radius: 22px;
  background-color: #1B76FE;
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid #1B76FE;
}
.footer__inner__our-services__item__input--sub-btn:hover {
  background-color: #ffffff;
  color: #1B76FE;
}
.footer__inner__our-services__item__social-icon {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.footer__inner__our-services__item__social-icon--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #EBEBEB;
  border-radius: 5px;
  color: #808080;
}
@media (min-width: 1200px) {
  .footer__inner__our-services__item__social-icon {
    display: none;
  }
}
.footer__inner__our-services__item__social-icon-desktop {
  display: none;
}
@media (min-width: 1200px) {
  .footer__inner__our-services__item__social-icon-desktop {
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .footer__inner__our-services__item__links {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
  }
  .footer__inner__our-services__item__links--desktop {
    grid-template-columns: 1fr;
  }
}
.footer__inner__our-services__item__links--item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  color: #4E5158;
}
.footer__copy-right {
  display: flex;
  justify-content: center;
  border-top: 1px solid #EBEBEB;
}
.footer__copy-right__inner {
  justify-content: center;
}
@media (min-width: 1200px) {
  .footer__copy-right__inner {
    flex-direction: column;
    padding: 0;
  }
}
.footer__copy-right__links {
  display: none;
}
@media (min-width: 1200px) {
  .footer__copy-right {
    border-top: none;
    background-color: #EBEBEB;
    justify-content: flex-start;
    padding: 0 0 20px 20px;
    flex-direction: column;
  }
  .footer__copy-right__links {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #191D26;
  }
  .footer__copy-right__links--item::after {
    content: "";
    position: relative;
    border-right: 1px solid #191D26;
    padding-right: 20px;
    top: 2px;
  }
}
.footer__copy-right--cp-text {
  padding: 25px 0px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #4E5158;
  margin: 0;
}
@media (min-width: 1200px) {
  .footer__copy-right--cp-text {
    padding-top: 25px;
    padding-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */